[submodule "d435i/realsense_ws/src/librealsense"]
	path = d435i/realsense_ws/src/librealsense
	url = https://github.com/ruimscarvalho98/librealsense
[submodule "d435i/realsense_ws/src/realsense-ros"]
	path = d435i/realsense_ws/src/realsense-ros
	url = https://github.com/ruimscarvalho98/realsense-ros
[submodule "d435i/realsense_ws/src/ddynamic_reconfigure"]
	path = d435i/realsense_ws/src/ddynamic_reconfigure
	url = https://github.com/pal-robotics/ddynamic_reconfigure
[submodule "workspaces/maplab_ws/src/maplab"]
	path = workspaces/maplab_ws/src/maplab
	url = https://github.com/ruimscarvalho98/maplab
[submodule "workspaces/maplab_ws/src/maplab_dependencies"]
	path = workspaces/maplab_ws/src/maplab_dependencies
	url = https://github.com/ethz-asl/maplab_dependencies
[submodule "workspaces/rovio_ws/src/rovio"]
	path = workspaces/rovio_ws/src/rovio
	url = https://github.com/ruimscarvalho98/rovio
[submodule "workspaces/rovio_ws/src/kindr"]
	path = workspaces/rovio_ws/src/kindr
	url = https://github.com/ethz-asl/kindr
[submodule "workspaces/vins_fusion_ws/src/VINS-Fusion"]
	path = workspaces/vins_fusion_ws/src/VINS-Fusion
	url = https://github.com/goodgodgd/VINS-Fusion.git
[submodule "workspaces/ORB_SLAM3"]
	path = workspaces/ORB_SLAM3
	url = https://github.com/UZ-SLAMLab/ORB_SLAM3.git
